.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  height: 105px;
  margin: 92px 0px 96px 0px;
}

.header__menu {
  padding-left: 0px;
  justify-self: center;
  align-self: center;
  padding: 6px 0px 0px 35px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 31px;
  padding-right: 26px;
  padding-left: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  list-style: circle;
  width: 442px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  display: block;
}

.header__link {
  display: block;
  letter-spacing:0.02em;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  width: 332px;
  align-items: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  display: block;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: center;
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  height: 98px;
  font-style: normal;
  line-height: 135%;
  letter-spacing: 0.01em;
}

.cover__conteiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 757px;
  margin-bottom: 179px;
}

.cover__background-image {
  grid-column: 1/2;
  grid-row: 1/2;
  object-fit: cover;
  height: 757px;
}

.cover__overley {
  grid-column: 1/2;
  grid-row: 1/2;
}

.overley {
  position: relative;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
}

.cover__title {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 143px 0px 0px 0px;
}

.aligned-text {
  width: 380px;
  height: 115px;
  margin: 0px 0px 0px 50px;
  line-height: 1.58em;
}

.aligned-text_center {
  width: 369px;
  height: 100px;
  margin: 10px 0px 0px 336px;

}

.aligned-text_right {
  width: 417px;
  height: 100px;
  margin: 20px 0px 0px 633px;
  line-height: 1.4em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 51px;
  margin-left: 78px;
  margin-top: 655px;
}

.description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  color: #ffffff;
}

.bet-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 51px;
  width: 256px;
  margin-right: 50px;
  margin-top: 0px;

  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin-bottom: 146px;
}

.lots__heading {
  width: 121px;
  height: 47px;
  margin-left: 64px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.card-link {
  text-decoration: none;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 51px 40px 48px 40px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  z-index: 1;
}

.lots__overley {
  position: absolute;
  width: 334px;
  height: 563px;
}

.card_type_film {
  background-image:url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image:url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image:url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  margin: 30px 0 148px 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about {
  margin-left: 24px;
  margin-bottom: 180px;
}

.about_colum {
  width: 1052px;
  height: 595px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__logo {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  height: 240px;
  width: 240px;
  margin: 35px 72px 320px 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin-left: calc(50% - 148px / 2 + 0.48px);
  margin-top: calc(50% - 114px / 2 + 1px);
}

.about__title {
  margin-top: 136px;
  width: 291px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  width: 693px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0045em;
}

.textnomargin {
  margin-top: 24px;
  letter-spacing: 0.00225em;
}

.about__text-letter {
  letter-spacing: 0.04em;
}

.about__text-lettern {
  letter-spacing: 0.01em;
}

.footer {
  height: 98px;
  padding: 0 50px 0 50px;
  margin-bottom: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 149px;
  height: 64px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  width: 240px;
  height: 48px;
}

.footer__social-list {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
